html { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}






.einladung{
    color: #6CFF03;
    font-size: 20px;
    margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;}


.antworten{
	color: black;
	font-size: 20px;
	margin: 0 auto;
	padding-bottom: 50px;
        width: 85%;
        max-width: 978px;}
}        